

/*ADDED FONTS*/
.libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

/*UNIVERSALS*/
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

/*FONT*/
body {
    font-family: "Libre Baskerville", serif;
    box-sizing: border-box;
    line-height: 1.7;
    list-style: none;
}

/*IMG SIZE*/
 img{
    width: 100%;
}


/*HEADINGS*/
h1, h2, h3, h4 {
    line-height: 1.4;
}
 
h1{
    font-size: 4.65rem;
    font-weight: 700;
    color: black;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
    font-size: 2.6rem;
    font-weight: 400;
    
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

p {
    font-size: 1.8rem;
    line-height: 1.8;
    
}

a{
    font-size: 1.8rem;
}


/*INDEX LINKS*/
body a {
    color: #0c20a0;
    text-decoration: none; /* No underlining */
}

body a:visited { /* visited link */
    color: #860d58;
}

body a:hover {
    color: #000070;
    text-decoration: underline;
}


body a:active { /* selected link */
    color: #ac0000;
}






/*HEADER SHAPE*/
header{
    width: 100%;
    display: block;
    background-color: #202020;
    padding: 1rem;
}

/*HEADER ELEMENTS*/
.header-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*LOGO*/
.header .header-logo h3{
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    padding: 0.5% 0.5%;
    margin: 1rem;
}


/*HEADER NAV*/
.header-nav li {
    display: inline;
    padding: 0px 4rem;
    list-style: none;
    
}

/*HEADER LINKS*/
.header-nav-item a {
    color: #ffffff;
    text-decoration: none; /* No underlining */
}

.header-nav-item a:visited{
    color: #ffffff;/* visited link */
}



.header-nav-item a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 600;
}

/*HERO TEXT*/
.hero {
    padding-left: 3%;
    padding-top: 12%;
    padding-bottom: 2%;
    background-image: url(../img/hero2.jpg);
    background-position: center;
    height: 70vh;
    background-size: cover;
    border-bottom:0.7rem solid #404040;
    
    
}

.hero-text {
    background-color: #ffffff8e;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
}


.hero h1, .hero h2 ,.hero h3,.hero p {
    text-align: left;
}



/*DIVIDING LINES*/
.short {
    width: 50%;
    color: #A6A6A6;
}

.long {
    width: 80%;
    color: #A6A6A6;
}


.work{
    width: 50%;
    margin: auto auto;
}
/*WORK TITLE*/
.work h2 {
    text-align: center;
}

.work ul{
    margin: auto auto;
    padding: 0;
    
}

.works-list li {
    margin-bottom: 8rem;
    justify-content: space-around;
    
} 

/*WORK CARD*/
.wl-item {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    background-color: #e7e7e7;
    border-color: #d9d9d9;
    border-radius: 8%;
    justify-content: space-around;
    width: 100%;
    flex-shrink: 0;
    
}

/*WORK-CARD-IMG*/
.wl-item img {
    height: 80%;
    border-radius: 8% 0 0 8%;
    align-self: normal;
}


/*WORK-CARD-TXT*/
.wl-item h3, .wl-item p {
    flex-wrap: wrap;
    padding-left: 1.5rem;
}

.wl-item h3 {
    font-size: 2.6rem;
}

.wl-item p {
    font-size: 1.6rem;
}


.work-link {
    padding-left: 1.5rem;

}


/*ABOUT PAGE*/
.about-me {
    font-size: 2rem;

}

.about {
    width: 50%;
    margin: auto auto;
    text-align: center;
}
.about h2{
    font-size: 3.5rem;
}

.skills{
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    gap: 8rem;
}


.experience img {
    width: 100%;
}

.personal img {
    width: 35%;
}







/*CASE STUDY*/
.pp-hero{
    margin: auto auto;
    width: 70%;

}

.mockup {
    width: 30%;
    margin: auto;
}

.divider {
    background-color: #9ECBFF;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    padding: 3%;
    font-weight: bolder;
    
}

.intro, .design{
    width: 50%;
    margin: auto auto;
    
}
.intro p, .design p, .intro li, .design li {
    font-size: 2rem;
    
}



.pp-title {
    text-align: center;
}

.problem-state  h2, .problem-state h3 {
    text-align: center;
}


.comp-analysis ul, .comp-analysis li{
    padding-left: 0;
    margin-left: 0;
}

.comp-analysis img {
    width: 13%;
    align-self: center;
    margin-right: 4rem;
    
}

.ca-item {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-bottom: 6rem;
}

.ca-item p {
    font-size: 1.8rem;
    width: 65rem;
}

.key-findings ul, .finding-item li{
    padding-left: 0;
    margin-left: 0;
}


.finding-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 6rem;
    

}

.finding-item img {
    width: 60%;
    align-self: flex-start;
    margin-right: 8rem;
}

.finding-item p {
    font-size: 1.8rem;
    width: 65rem;
}

.finding-item h2 {
    margin-top: 0;
}

.prototype img {
    width: 40%;
}

.design_system img {
    width: 65%;
}




.test-obj {
    list-style: none;
}

.test-obj ul, .test-obj li{
    padding-left: 0;
    margin-left: 0;
}


.objectives-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 6rem;
}


.objectives-item img{
    width: 10%;
    align-self: flex-start;
    margin-right: 8rem;  
}

.objectives-item p {
    font-size: 1.8rem;
    width: 65rem;
}

.objectives-item h2 {
    margin-top: 0;
}

.objectives-item li{
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}




.prototype {
    display: flex;
    align-items: center;
    
}

.prototype img {
    margin-right: 3.5rem;
    width: 40%;
}

.proto-flows-links a {
    font-size: 2.5rem;
    color: #151515;
    text-decoration: underline;
}

.proto-flows-links a:visited { /* visited link */
    color: #151515;
}

.proto-flows-links a:hover {
    color: #151515;
    text-decoration:none
    
}

.proto-flows-links a:active { /* selected link */
    color: #5d0000;
}





.proto-flows-links li {
    font-size: 2.5rem;
    margin-bottom: 5.5rem;
}

.learnings {
    width: 70%;
    margin: auto auto;
}

.learn-title  h2 {
    text-align: center;
    width: 70%;
    margin: auto auto;
}



.return-to-top img {
    width: 20%;
    margin: auto auto;
}

.return-to-top {
    margin: auto auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

#contact img {
    width: 3%;
    margin: .5rem;
    
}

.contact {
    background-color: #efefef;
    padding: 3%;
    padding-top: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    border-top: .5rem solid #797979;
    border-bottom: .5rem solid #797979;
    border-radius: .3rem;
    
}


.about {
    text-align: center;
}

.skills {
    text-align: left;
    align-items: center;
    
}